<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/task/create}" method="post" th:object="${task}">
                                        <input type="hidden" th:field="*{id}">

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Project</label>
                                                    <select name="project" class="custom-select" th:field="*{project}">
                                                        <option th:each="p:${projects}" th:value="${p.projectCode}" th:text="${p.projectName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Assigned Employee</label>
                                                    <select name="assignedemployee" class="custom-select" th:field="*{assignedEmployee}">
                                                        <option th:each="e:${emoloyees}" th:value="${e.userName}" th:text="${e.firstName + ' ' + e.lastName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="tasksubject" class="col-form-label">Task Subject</label>
                                                    <input id="tasksubject" type="text" class="form-control"
                                                           placeholder="task subject" th:field="*{taskSubject}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="taskdetail">Task Detail</label>
                                                    <textarea id="taskdetail" class="form-control"
                                                              placeholder="task detail" th:field="*{taskDetail}"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>